.searchPanel {
  height: 100px;  
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;

  .searchBlock {
    flex: 1;
    gap: 10px;

    input, div {
      height: 60px;
      border-radius: 15px;
      display: flex ;
      align-items:center;
      justify-content: center;
    }
  }

  .search {
    width: 70%;

    input {
      height: 60px;
      padding: 20px;
      border-radius: 15px;
      font-size: larger;
      font-weight: 500;
    }
  }
}